.cc-header {
  background: var(--colorNeutralBackground5);
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  padding: 1rem 0 0 0;
  margin: auto;
}

.cc-navbar {
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 81vw;
  padding: 1rem 0;
}
.divider-fluentUI {
  max-width: 80vw;
  margin: auto;
}

.cc-button {
  border: none;
  color: var(--colorNeutralForeground1);
  background-color: var(--colorTransparentBackground);
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}

.active {
  background-color: var(--colorNeutralBackground1Hover);
  border: none;
  color: var(--colorNeutralForeground1);
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}

.cc-button:hover {
  cursor: pointer;
}

.cc-header-light {
  background: var(--colorNeutralBackground2Pressed);
  min-height: 1.25rem;
  display: flex;
  align-items: center;
}

.cc-main-left {
  margin: auto;
  width: 80vw;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .cc-logo {
    width: 1.5rem;
    height: 1.5rem;
  }

  .cc-title {
    color: var(--colorNeutralForegroundInvertedLink);
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 3px;

    @media only screen and (max-width: 500px) {
      font-size: 8px;
    }

    @media only screen and (max-width: 320px) {
      display: none;
    }
  }

  .cc-divider {
    color: #4e4e4e;
    font-size: 20px;
    font-weight: 400;
  }
}
