.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.cc-main {
  background: var(--colorNeutralBackground5);
  margin: auto;
}

.cc-content {
  margin: auto;
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  width: 81vw;
}

.cc-main-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.cc-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: auto;
  padding: 1rem;
}

.cc-messages {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cc-new-message {
  background-color: var(--colorPaletteLightTealBorderActive);
  border: none;

  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;

  border-radius: 1rem;
  cursor: pointer;
}

.cc-new-message:hover {
  background-color: var(--colorPaletteLightTealForeground2);
  transition: 0.3s;
  transform: scale(1.05);
}

.cc-messages-title {
  font-size: 1rem;
  font-weight: 400;
}

.notification-section {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.cc-row {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 800;
  line-height: 150%;
  justify-content: space-between;
  width: 25vw;
  border: solid 1px #29292982;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.cc-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.container-messages {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}

.cc-rows-section {
  height: 100%;
}

.cc-gridCards {
  display: grid;
  grid-template-rows: repeat(3, 12rem);
  grid-row-gap: 24px;
  width: 50vw;
}

.cc-gridMessages {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
