.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.detailsList {
  max-height: 400px;
}

.detailsList button {
  color: var(--colorNeutralForeground1);
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.iconPagination {
  color: white;
}
